name: CD-example

on:
  pull_request:

jobs:
  upload_outputs:
    runs-on: ubuntu-latest
    env:
      IMAGE_TAG: "1.0.0"
      IMAGE_NAME: example-image
    steps:
      - name: Create Artifact File
        id: create_file
        if: success()
        run: |
          echo "got tag: $IMAGE_TAG"
          echo "got name: $IMAGE_NAME"

          echo "{\"image_name\": \"$IMAGE_NAME\", \"image_tag\": \"$IMAGE_TAG\"}" > deployment.json
      - name: Upload Artifact
        id: upload_file
        uses: actions/upload-artifact@v4
        with:
          path: deployment.json
          retention-days: 8
